$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$cursive-font-family: 'Dancing Script', cursive;
$cursive-font-weight: 700;

$color-white: #fff;
$color-orange: #EB8D29;
$color-theme-dark: #00514D;
$color-theme-light: #36bfbb;

@mixin button() {
  width: 10em;
  background: $color-orange;
  color: $color-white;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  cursor: pointer;

  & > div:first-of-type {
    width: 2em;
    display: flex;
    margin-right: 0.5em;
  }

  & > div:nth-of-type(2) {
    font-family: $cursive-font-family;
    font-weight: $cursive-font-weight;
    font-size: 18px;
    letter-spacing: 2px;
  }
}
