$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$cursive-font-family: 'Dancing Script', cursive;
$cursive-font-weight: 700;

$color-white: #fff;
$color-black: #000;
$color-orange: #EB8D29;
$color-theme-dark: #00514D;
$color-theme-light: #36bfbb;

$icon-size: 4em;

@mixin button() {
  width: 18em;
  background: $color-orange;
  color: $color-white;
  height: $icon-size + 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  cursor: pointer;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > div:first-of-type {
    width: $icon-size;
  }

  & > div:nth-of-type(2) {
    font-family: $cursive-font-family;
    font-weight: $cursive-font-weight;
    font-size: 3em;
    letter-spacing: 2px;
  }
}
