$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$cursive-font-family: 'Dancing Script', cursive;
$cursive-font-weight: 700;

$color-orange: #EB8D29;
$color-theme-dark: #00514D;
$color-theme-light: #36bfbb;
