@import 'globals.scss';

.menu-toggle {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  width: 0;
  transition: width 0.3s;
  background: $color-white;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

  & > div {
    overflow: hidden;
    position: relative;
  }

  .close {
    position: absolute;
    right: 1em;
    display: none;

    img {
      width: $icon-size;
    }
  }

  .menu-items-container {
    width: 80%;
    margin: 0 auto;

    & a:last-child .menu-item {
      border-bottom: none;
    }
  }

  .menu-item {
    height: 3em;
    border-bottom: 1px solid $color-theme-dark;
    cursor: pointer;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#menu-toggle:checked ~ .mobile-menu {
  width: 100%;

  .close {
    display: block;
  }
}

.header {
  position: relative;

  .square {
    $square-dimension: 45px;

    position: absolute;
    bottom: 0;
    top: calc(100% + -#{$square-dimension/2});
    left: calc(50% - #{$square-dimension/2});
    transform: rotate(45deg);
    width: $square-dimension;
    height: $square-dimension;
    background-color: $color-white;
  }

  .header-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 1em;

    & > div {
      display: flex;
      align-items: center;
    }
  }

  .header-container-1 {
    grid-area: 1 / 1 / 2 / 2;

    & > label {
      width: $icon-size;
      cursor: pointer;
    }
  }

  .header-container-2 {
    grid-area: 1 / 2 / 2 / 3;

    & > div {
      width: 26em;
      margin-left: 1em;
    }
  }


  .header-container-3 {
    grid-area: 1 / 3 / 2 / 4;
    justify-content: right;

    & .header-button {
      @include button;
    }
  }
}
