@import 'globals.scss';

.header {
  position: relative;

  .square {
    $square-dimension: 45px;
    $top-offset: $square-dimension / 4;
    $left-offset: 7px;

    position: absolute;
    bottom: 0;
    top: calc(100% + -#{$square-dimension/2});
    left: calc(50% - #{$square-dimension/2});
    transform: rotate(45deg);
    width: $square-dimension;
    height: $square-dimension;
    background-color: $color-white;
  }

  .header-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 1em;

    & > div {
      display: flex;
      align-items: center;
    }
  }

  .header-container-1 {
    grid-area: 1 / 1 / 2 / 2;

    & > div {
      width: $icon-size;
      cursor: pointer;
    }
  }

  .header-container-2 {
    grid-area: 1 / 2 / 2 / 3;

    & > div {
      width: 26em;
      margin-left: 1em;
    }
  }


  .header-container-3 {
    grid-area: 1 / 3 / 2 / 4;
    justify-content: right;

    & .header-button {
      @include button;
    }
  }
}