<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spectral:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ .Stylesheet }}">
</head>
<body>

<div class="header">
<!--	<div class="navigation">-->
<!--		<a href="/">-->
<!--			<div>Home</div>-->
<!--		</a>-->
<!--		<a href="/about">-->
<!--			<div>About</div>-->
<!--		</a>-->
<!--		<a href="/donate">-->
<!--			<div>Donate</div>-->
<!--		</a>-->
<!--		<a href="/contact">-->
<!--			<div>Contact</div>-->
<!--		</a>-->
<!--	</div>-->

	<div class="header-container">
		<div class="header-container-1">
			<div>
				<img src="/static/bars-solid.svg" alt="Menu items">
			</div>
		</div>
		<div class="header-container-2">
			<div>
				<img src="/static/logo.png" alt="Reiser Relief">
			</div>
		</div>
		<div class="header-container-3">
			<div>Contact!</div>
		</div>
	</div>

</div>
