<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
	<div class="navigation">
		<a href="/">
			<div>Home</div>
		</a>
		<a href="/about">
			<div>About</div>
		</a>
		<a href="/donate">
			<div>Donate</div>
		</a>
		<a href="/contact">
			<div>Contact</div>
		</a>
	</div>
</div>
