<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spectral:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ .Stylesheet }}">
</head>
<body>

<div class="header">
    <div class="header-container">
        <div class="header-container-1">
            <div>
                <img src="/static/bars-solid.svg" alt="Menu items">
            </div>
        </div>
        <div class="header-container-2">
            <div>
                <a href="/">
                    <img src="/static/logo.svg" alt="Reiser Relief">
                </a>
            </div>
        </div>
        <div class="header-container-3">
            <a href="/contact">
            <div class="header-button">
                <div>
                    <img src="/static/phone-volume-solid.svg" alt="">
                </div>
                <div>Contact</div>
            </div>
            </a>
        </div>
    </div>

</div>
